[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
flask-cors = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
alembic-postgresql-enum = "*"
flask-login = "*"
pandas = "*"
openpyxl = "*"
segno = "*"
imgkit = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
